.link {
	display: flex;
	flex-direction: column;
	position: relative;
	background: var(--light-grey);
	border-radius: 12px;
	padding: 1em;
}

.selectPopup {
	position: absolute;
	top: 62%;
	background: var(--white);
	width: 100%;
	border-radius: 8px;
	max-height: 280px;
	overflow-y: scroll;
	z-index: 1;
}

.flexRow {
	display: flex;
	gap: 0.5em;

	& span {
		font-family: var(--heading-font);
		color: var(--grey);
	}

}

.selectPopup:not([data-opened="true"]) {
	display: none;
}

.selectedPlatform {
	display: flex;
	gap: 1em;
	padding: 1em 0.5em;
	border: 1px solid var(--borders);
	background: var(--white);
	cursor: pointer;
	border-radius: 8px;
	align-items: center;

	& img {
		margin-left: 1em;
	}

	& input {
		height: 15px;
		border: none;
		background: none;
		pointer-events: none;
	}

}

.url {
	padding: 0 0.8em;
}

.platform {
	display: flex;
	padding: 1em 0.5em;
	gap: 1em;
	border-bottom: 1px solid var(--borders);
	margin: 0 1em;
	cursor: pointer;
}

.selectedPlatform:focus {
	border: 1px solid var(--purple);
	box-shadow: 0px 0px 10px 1px var(--purple);
}

.url:focus {
	border: 1px solid var(--purple);
	box-shadow: 0px 0px 10px 1px var(--purple);
}

.platform[data-selected="true"] {

	& span {
		color: var(--purple);
	}

	& img {
		filter: brightness(0) saturate(100%) invert(24%) sepia(60%) saturate(6171%) hue-rotate(248deg) brightness(100%) contrast(102%);
	}

}

@media only screen and (max-width: 400px) {
	& .selectedPlatform input {
		width: 150px;
	}
}
