.navigation {
	display: flex;
	padding: 1em;
	background: var(--white);
	margin: 1em;

	& ol {
		display: flex;
		width: 100%;
		justify-content: space-between;
		list-style-type: none;
		align-items: center;
	}

	& a {
		font-family: var(--heading-font);
		text-decoration: none;
		padding: 0.5em;

		& span {
			font-family: var(--heading-font);
		}

	}

}

li:hover {
	background: var(--purple-hover);
	border-radius: 8px;
}

.icon {
	background-image: url("/assets/images/logo-devlinks-large.svg");
	height: 40px;
	width: 183px;
	background-repeat: no-repeat;
}

.flexRow {
	display: flex;
	gap: 1em;

	& span {
		margin-left: 0.3em;
	}

	& a, a:visited {
		color: var(--grey);
		display: flex;
	}

}

.previewLink {
	padding: 0.5em;
	border-radius: 8px;
	border: 1px solid var(--purple);
	color: var(--purple);
}

.active {
	background: var(--purple-hover);
	border-radius: 8px;
	
	& img {
		filter: brightness(0) saturate(100%) invert(24%) sepia(80%) saturate(2371%) hue-rotate(242deg) brightness(99%) contrast(113%);
	}

	& span {
		color: var(--purple);
	}

}

@media only screen and (max-width: 600px) {
	.navigation {
		& span {
			display: none;
		}
		.icon {
			background-image: url("/assets/images/logo-devlinks-small.svg");
			width: 32px;
			height: 32px;
		}
	}
}
