.buttonBox {
	background: white;
	flex-direction: column;
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: end;

	& button {
		padding: 0.7em 1.5em;
		border: none;
		border-radius: 8px;
		background: var(--purple);
		color: var(--white);
		cursor: pointer;

		&:hover {
			background: var(--light-purple);
		}

	}
}

.buttonBorder {
	width: 100%;
	border-top: var(--borders) 2px solid;
	margin: 1em 0;
}

