.container {
	width: 100%;
	display: flex;
	gap: 1.5em;
}

p {
	color: var(--grey);
}

hr {
	margin: 2em 0;
}

.customizeSection {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	padding: 2.5em;
	background: var(--white);
	border-radius: 12px;
}

.linksBox {

	& p {
		text-align: center;
	}

}

.links {
	display: flex;
	flex-direction: column;
	gap: 1em;
	
	& label {
		font-size: var(--body-s);
		margin-bottom: 0.2em;
		margin-top: 0.5em;
	}

	& input, select {
		padding: 0 0.8em;
		height: 45px;
		border: 1px solid var(--borders);
		font-size: var(--body-m);
		border-radius: 8px;
	}
}

.emptyBox {
	padding: 5.5em;
	gap: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--light-grey);
	border-radius: 12px;
}

.addLinkButton:disabled {
	padding: 0.7em;
	border-radius: 8px;
	margin-top: 2em;
	margin-bottom: 1.5em;
	border: none;
	pointer-events: none;
}

.addLinkButton:not([disabled]) {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0.7em;
	margin-bottom: 1.5em;
	background: none;
	border-radius: 8px;
	margin-top: 2em;
	color: var(--purple);
	border: 1px solid var(--purple);

	&:hover {
		cursor: pointer;
		background: var(--purple-hover);
	}
}

.buttonBox {
	background: white;
	flex-direction: column;
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: end;

	& button {
		padding: 0.6em 1.3em;
		border: none;
	}
}

.buttonBorder {
	width: 100%;
	border-top: var(--borders) 2px solid;
	margin: 1em 0;
}
