@font-face {
	font-family: "Instrument Sans Bold";
	src: url('../public/assets/fonts/static/InstrumentSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 300 800;
}

@font-face {
	font-family: "Instrument Sans Regular";
	src: url('../public/assets/fonts/static/InstrumentSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300 800;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	padding: 2em;
}

#root {
	width: 1200px;
	display: flex;
}

html {
	--heading-m: 32px;
	--heading-s: 16px;
	--body-m: 16px;
	--body-s: 12px;

	--heading-font: "Instrument Sans Bold";
	--body-font: "Instrument Sans Regular";

	--purple: #633CFF;
	--light-purple: #BEADFF;
	--purple-hover: #EFEBFF;
	--dark-grey: #333333;
	--grey: #737373;
	--borders: #D9D9D9;
	--light-grey: #FAFAFA;
	--white: #FFFFFF;
	--red: #FF3939;

	background: var(--light-grey);
}

h1 {
	line-height: 150%;
	font-size: var(--heading-m);
	font-family: var(--heading-font);
}

h2 {
	line-height: 150%;
	font-size: var(--heading-s);
	font-family: var(--heading-font);
}

p, span, a, label, input::placeholder, select {
	font-family: var(--body-font);
}

button {
	font-family: "Instrument Sans Bold";
}

